@import "tailwindcss";

@media (min-width : 1600px) {
    :root {
        --size: 800;
    }
}
body{
    background-color: #F5F5F5;
}

html {
    font-size: calc(9 * 100vw / var(--size)) !important;
}

.menu-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
}

.menu-frame {
    flex: none;
    height: 2px;
    overflow: hidden;
    position: relative;
    width: 59px;
    background-color: var(--token-88d5059b-bc5d-4e0a-ad79-b21e9a2c4948, rgb(10, 10, 10));
    transform: none;
    opacity: 1;
}
 